<header>
    <h1>Data Science</h1>
</header>
<hr>
<nav>
    <a href="/" class="<%- currentPage === '/' ? 'current_page' : '' %>">Home</a>
    <a href="/benefits" class="<%- currentPage === '/benefits' ? 'current_page' : '' %>">Benefits</a>
    <a href="/process" class="<%- currentPage === '/process' ? 'current_page' : '' %>">Process</a>
    <a href="/technologies", class="<%- currentPage === '/technologies' ? 'current_page' : '' %>">Technologies</a>
    <a href="/aiapp" class="<%- currentPage === '/aiapp' ? 'current_page' : '' %>">AI Application</a>
</nav>
<hr>